/* .login {

    background-color: #cd3535;
    color: #fff;
    padding: 35px;
    width: 450px;
    margin: 70px auto;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.login h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login button:hover {
    background-color: rgb(255, 225, 0);
    color: #ff0100;

}


.navbar-dark .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 15px;
    color: var(--light) !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.contenedor{
    background-color: #cd3535;
}

.content-container{
    background-color: green;
} */


@import url('../../src/output.css');