<!-- <link href="../ContentComponent/content.css" /> -->
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
  <title>Contenido</title>
  <link href="../../src//output.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" /></head>

</head>

<body class="bg-black">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

  <div class="text-orange-500">
    <h1 class="text-center text-7xl">¡Bienvenido!</h1>
    <div class="text-orange-500 mx-auto max-w-prose text-center">
      <p>
        Bienvenido a Carls Jr El restaurante perfecto para los amantes de la
        comida sabrosa y contundente. Aquí encontrarás una variedad de
        deliciosos platillos, desde nuestro famosas hamburguesas hasta pasando
        por nuestras irresistibles alitas y papas fritas crujientes. Además,
        podrás disfrutar de un buen café y nuestros dedos de queso derretido,
        que son la perfecta combinación para compartir con tus amigos y
        familiares. 80 Años de Experiencia 30 Platillos Inigualables
      </p>
    </div>
  </div>
  <!-- AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
  <div class="md:flex bg-black content-center w-full">
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="h-96 carousel carousel-horizontal rounded-box bg-white">
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-DoubleWesternBaconCheeseburger-min_l4q26i.webp" />
      </div>
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-FamousStarWithCheese-min_rptn24.webp" />
      </div>
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-FamousStarWithCheese-min_rptn24.webp" />
      </div>
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-GuacamoleBaconThickburger-min_xuuosu.webp" />
      </div>
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-JalapenoBurger-min_rnua29.webp" />
      </div>
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-LowCarbSixDollarBurguer-min_lgz4e1.webp" />
      </div>
      <div class="carousel-item h-full">
        <img src="../../img/ALAPARRILLA-OriginalThickburger-min_zioair.webp" />
      </div>
    </div>
  </div>

  <h2 class="text-center">¿Sólo Hamburguersas? ¡No hay problema!</h2>
  <div class="grid grid-cols-3 gap-4">
    <!-- Columna 1 -->
    <div class="text-center">
      <img src="../../img/cafe.jpg" alt="Western"
        class="mx-auto mb-2" />
      <p>¡Café!</p>
    </div>

    <!-- Columna 2 -->
    <div class="text-center">
      <img src="../../img/ALAPARRILLA-LowCarbSixDollarBurguer-min_lgz4e1.webp" alt="Descripción de la imagen 2"
        class="mx-auto mb-2" />
      <p>¡Ensaladas!</p>
    </div>

    <!-- Columna 3 -->
    <div class="text-center">
      <img src="../../img/ALAPARRILLA-JalapenoBurger-min_rnua29.webp" alt="Descripción de la imagen 3"
        class="mx-auto mb-2" />
      <p>¡Jalapeño!</p>
    </div>
  </div>
<br>
  <h2 class="text-orange-500 text-center">¿Un blog, nada?</h2>
  <div class="grid grid-cols-3 gap-4">
    <a href="#" class="mx-2 text-center">Recomendaciones!</a>
    <a href="#" class="mx-2 text-center">¡Anuncios!</a>
    <a href="#" class="mx-2 text-center">¡Club Futbol!</a>
  </div>
  <div class="border-t border-orange-500 mt-4"></div>
</body>

</html>