<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./carrito.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>
  <div class="contenedor">
    <div class="carrito max-w-sm mx-auto">
        <h2 class="titulo text-red-300 text-xl font-medium text-gray-900 dark:text-white">Realiza tu pedido y pasa por él.</h2>
        <button class="btn-agregar bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-red-700 dark:focus:ring-yellow-500  text-white">Agregar producto al carrito</button>
        <div class="carrito-productos"></div>

        <div class="orden">
            <p class="listo  text-red-300 text-xl font-medium dark:text-white">¿Todo listo? A pagar.</p>
            <button class="btn-pagar bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-red-700 dark:focus:ring-yellow-500 text-white">Pagar orden</button>
        </div>
    </div>
</div>
<script type="module" src="carrito.js"></script>
<script type="module" src="carritoLS.js"></script>

    <script type="module" src="carrito.js"></script>
    <script type="module" src="carritoLS.js"></script>
</body>

</html>