.carrito{
    color: #cd3535;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.carrito-productos{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr)
    );
    gap: 20px;
}

img{
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.card-productos{
    width: 90%;
    margin: 80px auto;
    border: 1px solid #000000;
    padding: 10px;
}

.ordenar{
    font-weight: bold;
    color: #000000;
}

.carrito-productos{
    border: 1px solid #000000;
    padding: 30px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.orden{
    display: flex;
    flex-direction: column;
}

.precio{
    font-weight: bold;
    font-size: 40px;
}

.listo{
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn-pagar{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #cd3535;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.btn-pagar:hover{
    background-color: rgb(255, 225, 0);
    color: #cd3535;
    cursor: pointer;
}

.btn{

    width: 150px;
    height: 50px;
    margin: 0 auto;
    background-color: #cd3535;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(255, 225, 0);
    color: #cd3535;
    cursor: pointer;
}