<link rel="stylesheet" href="carrito.css" />
<div class="contenedor">
  <div class="carrito">
    <h2 class="titulo">Realiza tu pedido y pasa por el.</h2>
        <div class="carrito-productos">
            <div class="card-productos">
                <img src="../../images/burguer.jpg" alt="">
                <p class="ordenar">Combo hamburguesa papas & soda</p>
                <p class="precio">$120.00</p>

                <button class="btn">Eliminar producto</button>
            </div>
            <div class="card-productos">
                <img src="../../images/burguer.jpg" alt="">
                <p class="ordenar">Combo hamburguesa papas & soda</p>
                <p class="precio">$120.00</p>

                <button class="btn">Eliminar producto</button>
            </div>
            <div class="card-productos">
                <img src="../../images/burguer.jpg" alt="">
                <p class="ordenar">Combo hamburguesa papas & soda</p>
                <p class="precio">$120.00</p>

                <button class="btn">Eliminar producto</button>
            </div>
            <div class="card-productos">
                <img src="../../images/burguer.jpg" alt="">
                <p class="ordenar">Combo hamburguesa papas & soda</p>
                <p class="precio">$120.00</p>

                <button class="btn">Eliminar producto</button>
            </div>
            <div class="card-productos">
                <img src="../../images/burguer.jpg" alt="">
                <p class="ordenar">Combo hamburguesa papas & soda</p>
                <p class="precio">$120.00</p>

                <button class="btn">Eliminar producto</button>
            </div>
           
        </div>

        <div class="orden">
          <p class="listo">¿Todo listo? A pagar!</p>
          <button class="btn-pagar">Pagar orden</button>
        </div>
  </div>
</div>
