<!-- <link href="../ContentComponent/content.css" /> -->
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
  <title>Mapa</title>
  <link href="../../src//output.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

</head>

<body class="flex items-center justify-center h-screen bg-black">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
  <img src="../../images/maps.png" alt="Mapa Obregón Carl's Jr" class="ml-16 m-0 max-w-full max-h-full">
</body>

</html>