<link href="../HeaderComponent/headerComponent.css">
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" /></head>

<header>
    <div>


<nav class="bg-black border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://carlsjrmx.netlify.app/assets/logo.svg"class="h-8">
            <span class="self-text-2xl font-semibold whitespace-nowrap dark:text-white">Carl's Jr</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <button type="button" id="Login" class="text-white bg-red-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-yellow-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Inicia Sesión</button>
        </div>
    </div>
</nav>
<nav class="bg-black dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <!-- <a href="#" id="inicio" class="text-white dark:text-white hover:underline" aria-current="page">Inicio</a> -->
                    <a href="#" id="inicio" class="text-white dark:text-orange-500 hover:underline">Inicio</a>
                </li>
                <li>
                    <!-- <button id="menu" class="text-gray-900 dark:text-white hover:underline">Menú!</button>
                    <span id="menu" class="text-gray-900 dark:text-white hover:underline">MENÚ</span> -->
                    <a href="#" class="text-white dark:text-orange-500 hover:underline">Nosotros</a>
                </li>
                <li>
                    <a href="#" id="menu" class="text-white dark:text-orange-500 hover:underline">Menú</a>
                </li>
                <li>
                    <a href="#" id="mapa" class="text-white dark:text-orange-500 hover:underline">Sucursales</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</header>