<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="./output.css" rel="stylesheet">

</head>
<body>
</body>
<footer class="bg-black">
      <h1 class="bg-black text-white">Inicio footer</h1>
  <div class="flex items-center justify-center bg-black text-white p-4">
    <h1 class="text-orange-500">Contactos</h1>
  </div>

    <div class="basis-1/4">
        <h1 class="text-3xl font-bold underline">¡Ponte en contacto!</h1>
        <div class="c1">
            <div class="pin">¿?</div>
            Plaza Sendero - C 300 85180, Franja Comercial 300, 85065 Cd Obregón, Son.
        </div>
    </div>
  <img src="../images/carlsLogo.png" alt="Carl's Jr Logo" />
  <span id="CarlsFooter">
    <p class="text-orange-500">&copy; Carl's Jr!!!</p>
    </span>
    
</footer>
</html>



<!DOCTYPE html>
<html lang="eng">
<!-- <link href="../../src/output.css" /> -->
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
<footer class="bg-black">
  
</footer>
</html>
<div class="col-lg-3 col-md-6">
  <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contáctanos</h4>
  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Plaza Sendero - C. 300 85180, Franja
      Comercial 300, 85065 Cd Obregón, Son.</p>
  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+52 644 200 0000</p>
  <p class="mb-2"><i class="fa fa-envelope me-3"></i>CarlsJr@hotmail.com </p>
  <div class="d-flex pt-2">
      <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/carlsjrmex/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/CarlsJrMex" target="_blank"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>

 <!-- Footer Start -->
 <div class="container">
  <div id="container-footer" class="container py-5">
      <div class="row g-5">
          <div class="col-lg-3 col-md-6">
              <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">¿Quiénes somos?</h4>
              <a class="btn btn-link" href="about.jsp">Nosotros</a>
              <a class="btn btn-link" href="contact.jsp">Contáctanos</a>
          </div>

          <div class="col-lg-3 col-md-6">
              <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Horarios</h4>
              <h5 class="text-light fw-normal">Lunes - Domingo</h5>
              <p>10AM - 10PM</p>
          </div>  
      
      </div>
  </div>
  <div class="container">
      <div class="copyright">
          <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                  &copy; <a class="border-bottom" href="https://www.facebook.com/CarlsJrMex" target="_blank">CarlsJr</a>, Todos los derechos reservados.
              </div>
              <div class="col-md-6 text-center text-md-end">
                  <div class="footer-menu">
                      <a href="../../src/indeic.html">Inicio!</a>
                      <a href="contact.jsp">Ayuda</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>