<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <!-- <link href="./output.css" /> -->
    <!-- <link href="./footer.css" /> -->
    <link href="../../src//output.css"  rel="stylesheet"/>
  </head>

  <body></body>
  <footer class="flex flex-row bg-black text-white">
    <h1 class="bg-black text-white">Inicio footer</h1>
    <div class="flex items-center justify-center bg-black text-white p-4">
      <h1 class="text-orange-500">Contactos</h1>
    </div>

    <div class="basis-1/4">
      <h1 class="text-3xl font-bold underline">¡Ponte en contacto!</h1>
      <div class="c1">
        <div class="pin">¿?</div>
        Plaza Sendero - C 300 85180, Franja Comercial 300, 85065 Cd Obregón,
        Son.
      </div>
    </div>
    <img src="../../images/carlsLogo.png" alt="Carl's Jr Logo" />
    <span id="CarlsFooter">
      <p class="text-orange-500">&copy; Carl's Jr!!!</p>
    </span>
    <div class="d-flex pt-2">
      <a
        class="btn btn-outline-light btn-social"
        href="https://www.instagram.com/carlsjrmex/"
        target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        class="btn btn-outline-light btn-social"
        href="https://www.facebook.com/CarlsJrMex"
        target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </div>
    <div class="col-lg-3 col-md-6">
      <!-- <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4"> -->
      <h4
        class="section-title ff-secondary text-start text-primary fw-normal mb-4"
      >
        ¿Quiénes somos?
      </h4>
      <a class="btn btn-link" href="about.jsp">Nosotros</a>
      <a class="btn btn-link" href="contact.jsp">Contáctanos</a>
    </div>
  </footer>
</html>
