@import url('../../src/output.css');
/* AQUÍ EMPIEZA 28 NOV */
/* 
.footer {
  display: grid;
  border: 3px solid green;
  text-align: center;
}

footer img {
  width: 9%;
  padding-left: 20px;
}

#CarlsFooter {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: yellow;

  text-align: end;
  background-color: burlywood;
}
p {
  color: yellow;
  text-align: center;
}
.contactos {
    background-color: goldenrod;
}
.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -115px;

  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.pin1::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background-color: #fff;
  } */
